html, body {
  font-family: 'Rubik', arial, sans-serif;
}

#app {
  min-height: 100vh;
  flex-direction: column;
}

.nav-logo a {
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fredoka One', cursive;
}

ul.mobile-menu {
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 10;
}

nav {
  background: #346cc1;
}

nav a {
  color: #fafafa;
}

.dark-mode nav {
  background: #9156d3;
}

div.dark-mode {
  background: #424242;
}

.dark-mode * {
  color: #fafafa;
}
